*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CLEARFIX */
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}

/* TYPO */
body{
    font-family: 'Open Sans', sans-serif;
}

/* COMMONS */
.container-large{
    padding-top: 100px;
    max-width: 1300px;
    margin:auto;
}
.container{
    max-width: 1080px;
    margin:auto;
}
a{
    text-decoration: none;
}
.button-blue{
    background: #0063ff;
    color:white;
    padding: 5px 10px;
}
.button-white{
    background:#fff;
    padding: 10px 20px ;
    border: 1px solid;
}

/* HEADER */
header{
    position: fixed;
    padding: 15px;
    width: 100%;
    background:white;
    z-index: 10;
}

header ul, hedaer li{
    display: inline-block;
}

.logo, header ul li a{
    vertical-align: middle;
    color:black;
}

header a{
    margin:auto 20px;
}


.nav-left, .nav-left ul li, .nav-right, .nav-right ul li{
    display: inline-block;
}

.header-left, .header-right{
    display: inline-block;
    width: calc(100% / 2 - 5px);
}

.header-right{
    text-align: right;
}


/* MAIN */
/* HERO */
.hero{
    background: #b4d0e6;
    height: 730px;
    margin-bottom: 200px;
}

.hero h1{
    font-size: 4.5em;
    margin-bottom:70px;
}

.col-text-hero, .col-img-hero{
    float:left;
}

.col-text-hero{
    width: 30%;
 }

 .col-text-hero p{
     margin-bottom:40px;
 }


.col-img-hero{
    width:70%;
    text-align: center;
}

.col-img-hero img{
    height: 470px;
}

.arrow-down{
    margin-top:40px;
    font-size: 2em;
}

/* SECTION PLANS */
#title-plans{
    font-size: 30px;
}

.plans-choose{
    margin:40px auto 30px auto;
}

.plans-month{
    margin-right:20px;
}

.col-plans{
    min-height: 630px;
    width: 30%;
    border:1px solid;
    float:left;

}

.col-plans-center{
    margin:auto 5%;
}

.col-plans-head{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid;
}

.col-plans-main-top{
    padding: 0 15px;
    
}

.col-plans-main-top--title{
    margin:15px auto 40px auto;
}

.col-plans-main-top-price{
    margin-bottom:20px;
}

.col-plans-main-top-features ul{
    list-style-type: none;
}
.col-plans-main-top-features ul li {
    margin-top:10px;
}

.col-plans-main-top-buy{
    margin:15px 0;
}

.freetrial{
    display: inline-block;
    color:white;
    background-color: rgb(0, 110, 255);
    border:none;
    padding:5px 30px;
}

.col-plans-main-top-buy--line{
    width: 20%;
    margin-top:30px
}


.col-plans-main-bottom{
    padding: 0 15px;

}

.col-plans-main-bottom ul{
    list-style-image: url("../img/check-solid.svg");
    list-style-position: inside;
}

.col-plans-main-bottom ul li {
    margin-top:10px;
}

.col-team{
    margin-top:50px;
    border:1px solid;
    margin-bottom:145px;
    padding-bottom: 40px;
}

.col-plans-main{
    padding: 0 15px;
    margin-top:10px;
}

.col-main-left{
    float:left;
    width: 70%;

}

.col-main-left h1{
    margin-bottom: 30px;
}

.col-main-left h3{
    margin-bottom: 25px;
}

.col-main-right{
    float:left;
    width: 30%;
    text-align: right;
}

.col-main-right .button-blue{
    display: inline-block;
}

/* PARTNER SECTION */
.col-partner-left, .col-partner-right{
    float:left;
}

.col-partner-left{
    width: 60%;
}

.col-partner-left img{
    width: 90%;
}

.col-partner-right{
    width: 40%;
    padding-top:50px;
}

.col-partner-right p{
    line-height: 30px;
}

.col-partner-right h2{
    margin-bottom:20px;
}

.col-partner-right a{
    color:black;
    margin-top:30px;
    display: inline-block;
}

.partner-section{
    margin-bottom: 110px;
}

/* OPERATIONS BUSINESS SECTION */
.row-operations-business .col{
    float:left;
    width: 30%;
    margin-bottom: 80px;
}

.title-operations-business{
    margin-bottom: 60px;
}

.row-operations-business h3{
    margin-bottom: 30px;
}

.row-operations-business .col .col-img{
    text-align: center;

}

.row-operations-business .col .col-img img{
    width: 300px;
}

.row-operations-business .col-center{
    margin:0 5%;
}

.operations-business{
    margin-bottom: 200px;
}



.dropbox-business-title h1{
    font-size: 30px;
    margin-bottom: 40px;
}

.dropbox-business .container{
    margin-bottom:40px;
}

.square-left,.square-right{
    position: relative;
    border:1px solid;
    height: 25vw;
    width: 25vw;
    

}

.square-left{
    float:left;
}

.square-right{
    float:right;
}

.square-1,.square-2,.square-3,.square-4{
    position: absolute;
    height: 50%;
    width: 50%;
    text-align: center;
}

.square-left img,.square-right img{
    width: 50%;
}
.square-center img{
    width: 20%;
   
}

.square-1{
    left:0;
    top:0;
}
.square-2{
    right:0;
    top:0;
}
.square-3{
    left:0;
    bottom:0;
}
.square-4{
    right:0;
    bottom:0;
}

.square-left .square-1{
    background: #a3d49c;
}

.square-left .square-2{
    background: #63072c;

}
.square-left .square-3{
    background: #0393cf;
}
.square-left .square-4{
    background: #fe1c1e;
}

.square-right .square-1{
    background: #d50020;
}

.square-right .square-2{
    background: #b4d0e6;

}
.square-right .square-3{
    background: #0e2582;
}
.square-right .square-4{
    background: #ffd930;
}


.square-center{
    height: 25vw;
    width: 50vw ;
    display: inline-block;
    background:#f6f6f6;
    padding: 50px 50px 50px 50px;
}

.square-center hr{
    width: 10%;
    margin: 30px 0 50px 0;
}

.square-center p{
    margin-bottom: 60px;
}

.container-square{
    display: flex;
}


/* DROPBOX BUSINESS 2 SECTION */
.dropbox-business-2{
    background: #b4d0e6;
    min-height: 360px;
    margin-bottom: 130px;
}

.dropbox-business-2 .col{
    float:left;
}

.dropbox-business-2 .col-left,.dropbox-business-2 .col-right{
    width: 50%;
}
.dropbox-business-2 .col-right{
    text-align: right;
}

.dropbox-business-2 .col-left{
    color: #50102a;
    font-size: 30px;
}

.dropbox-business-2 .col-right a{
    display: inline-block;
    color:black;
    padding: 5px 50px;
    font-weight: 600px;
}

.dropbox-business-2 .container .col{
    margin-top:140px;
}


